@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");

body {
  font: 400 1em/1.33 "Lora", serif;
}

/**NEWS DETAILS **/
.card-title {
  font-weight: 700;
}

.card-text {
  font-family: "Lora", serif;
  font-size: 0.85em;
}

.news:hover {
  box-shadow: 1px 6px 16px -2px rgba(54, 119, 127, 0.65);
  cursor: pointer;
  text-decoration: none;
}

a {
  color: black;
}

.news_content {
  font-size: 1.25rem;
}
.news_head {
  font-weight: 700;
}

.pb-cmnt-textarea {
  resize: none;
  padding: 20px;
  min-height: 130px;
  width: 100%;
  border: 1px solid #f2f2f2;
}
